{%- block form_start -%}
  <form name="{{ name }}" method="{{ method }}" action="{{ action }}"{% for attrname, attrvalue in attributes %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
{%- endblock -%}

{%- block form_end -%}
  </form>
{%- endblock -%}

{%- block form_errors -%}
{%- endblock -%}

{%- block form_rows %}
  {% for element in form %}
    {{ form_row(element) }}
  {% endfor %}
{% endblock -%}

{%- block form_label -%}
  {% if block('form_label_' ~ type ~ '_' ~ name) is defined %}
    {{ block('form_label_' ~ type ~ '_' ~ name) }}
  {% elseif block('form_label_' ~ type) is defined %}
    {{ block('form_label_' ~ type) }}
  {% else %}
    {{ block('form_label_simple') }}
  {% endif %}
{%- endblock -%}

{%- block form_label_simple -%}
  <label for="{{ id }}"{% if label_class is not empty %} class="{{ label_class }}"{% endif %}>
    {{- label -}}
  </label>
{%- endblock -%}

{%- block form_widget -%}
  {% if block('form_widget_' ~ type ~ '_' ~ name) is defined %}
    {{ block('form_widget_' ~ type ~ '_' ~ name) }}
  {% elseif block('form_widget_' ~ type) is defined %}
    {{ block('form_widget_' ~ type) }}
  {% else %}
    {{ block('form_widget_simple') }}
  {% endif %}
{%- endblock -%}

{%- block form_row %}
  {% if block('form_row_' ~ type ~ '_' ~ name) is defined %}
    {{ block('form_row_' ~ type ~ '_' ~ name) }}
  {% elseif block('form_row_' ~ type) is defined %}
    {{ block('form_row_' ~ type) }}
  {% else %}
    {{ block('form_row_simple') }}
  {% endif %}
{% endblock -%}

{%- block form_row_simple %}
  {% if label is not same as(false) %}
    {{ block('form_label') }}
  {% endif %}
  {{ block('form_widget') }}
{% endblock -%}


{# Attributes #}

{%- block widget_attributes -%}
  id="{{ id }}"
  {{- " " }}name="{{ full_name }}"
  {%- if disabled %} disabled="disabled"{% endif -%}
  {%- if required %} required="required"{% endif -%}
  {%- if readonly %} readonly="readonly"{% endif -%}
  {%- if pattern %} pattern="{{ pattern }}"{% endif -%}
  {%- if title %} title="{{ title }}"{% endif -%}
  {%- if placeholder %} placeholder="{{ placeholder }}"{% endif -%}
  {{- block('attributes') -}}
{%- endblock -%}

{%- block attributes -%}
  {%- for attrn, attrv in attributes -%}
    {%- if attrv is iterable -%}
      {%- for dataKey, dataValue in attrv -%}
        {{- " " ~ attrn }}-{{ dataKey }}="{{ dataValue }}"
      {%- endfor -%}
    {%- else -%}
      {%- if attrv is same as(true) -%}
        {{- " " ~ attrn }}="{{ attrn }}"
      {%- elseif attrv is not same as(false) -%}
        {{- " " ~ attrn }}="{{ attrv }}"
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}
{%- endblock -%}


{# Choice #}

{% block widget_choice_collapsed %}
  <select {{ block('widget_attributes') }}>
    {% if allow_clear is not same as(false) and not attributes.multiple %}
      <option value="">{% if allow_clear is same as(true) %}&nbsp;{% else %}{{ allow_clear }}{% endif %}</option>
    {% endif %}
    {{ block('widget_choice_choices') }}
  </select>
{% endblock %}

{% block widget_choice_expanded %}
  {% for choiceKey, choiceValue in choices %}
    {% set type = choiceValue.type %}
    {% set label = choiceValue.label %}
    {% set value = choiceValue.value %}
    {% set attributes = choiceValue.attributes|merge({"checked": choiceValue.isSelected()}) %}

    {{ block('form_row_checkbox') }}
  {% endfor %}
{% endblock %}

{% block widget_choice_choices %}
  {% for choiceKey, choiceValue in choices %}
    {% if choiceValue is iterable %}
      <optgroup label="{{ choiceKey }}">
        {% set choices = choiceValue %}
        {{ block('widget_choice_choices') }}
      </optgroup>
    {% else %}
      {% set attributes = choiceValue.attributes|merge({"selected": choiceValue.isSelected()}) %}
      <option value="{{ choiceValue.value }}"{{- block('attributes') -}}>{{ choiceValue.label }}</option>
    {% endif %}
  {% endfor %}
{% endblock %}


{# Rows #}

{%- block form_row_checkbox -%}
  {{ block('form_widget') }}
  {% if label is not same as(false) %}
    {{ block('form_label') }}
  {% endif %}
{%- endblock -%}

{%- block form_row_radio -%}
  {{ block('form_row_checkbox') }}
{%- endblock -%}


{# Widgets #}

{%- block form_widget_simple -%}
  <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{%- endblock -%}

{%- block form_widget_checkbox -%}
  <input type="{{ type }}" {{ block('widget_attributes') }} value="1" {% if checked %}checked="checked" {% endif %}/>
{%- endblock -%}

{%- block form_widget_radio -%}
  {{ block('form_widget_checkbox') }}
{%- endblock -%}

{%- block form_widget_textarea -%}
  <textarea {{ block('widget_attributes') }}>{% if value is not empty %}{{ value|escape }}{% endif %}</textarea>
{%- endblock -%}

{% block form_widget_choice %}
  {% if expanded %}
    {{ block('widget_choice_expanded') }}
  {% else %}
    {{ block('widget_choice_collapsed') }}
  {% endif %}
{% endblock %}